.featured {
	height: 100vh;
	background-size: cover;
	background-position: 'center';
}

.featured .vertical {
	width: inherit;
	height: inherit;
	background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featured .horizontal {
	width: inherit;
	display: flex;
	height: inherit;
	background: linear-gradient(to right, #111 30%, transparent 70%);
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
}

.featured .name {
	font-size: 60px;
	margin: 0;
	color: #FFF;
}

.featured ul {
	list-style: none;
	margin: 12px 0;
	display: flex;
	flex-direction: row;
	padding: 0;
}

.featured ul li {
	font-weight: bold;
	color: #FFF;
	margin-right: 20px;
}

.featured ul li.points {
	color: green
}

.featured .description {
	color: #6f6f6f;
	line-height: 24px;
	width: 30%;
}

.featured .buttons {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
}

.featured .buttons a {
	background: #fff;
	margin-right: 20px;
	padding: 15px 30px;
	border-radius: 6px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.featured .buttons a:hover{
	background-color:#CCC;
}

.featured .buttons a.mylist {
	background-color: #6f6f6f;
	color: #FFF;
}

.featured .buttons a:hover{
	background-color:#585858;
}

.featured .genres {
	color: #6f6f6f;
}

@media (max-width:760px){
	.featured {
		height: 90vh;
		background-position: center;
	}
	.featured .name {
		font-size: 40px;
	}
	.featured .description {
		font-size: 14px;
		width: 87%;
	}
}